@import url('reset.css');

* {
    font-family: Arial, sans-serif;
    color: #444444;
}

body {
    background: #f2f2f2 url('../img/all/body-bg.png');
    font-size: 16px;
}

#main-content {
    overflow: hidden;
    background: #fff;
    border: 1px solid #bfbaba;
}


h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}


h1 a,
h2 a,
h3 a {
    text-decoration: none;
}


p {
    margin-bottom: 1em;
}

.change-device-class {
    display: block;
    margin-top: 20px;
    text-align: center;
}


.pagination li {
    display: inline;
}


#article-list li {
    margin-bottom: 20px;
    overflow: hidden;
    clear: both;
}

#article-list img {
    float: right;
    margin-left: 20px;
}

#article-list .preface {    
    margin-bottom: 10px;
}

article .byline,
#article-list .byline {
    font-style: italic;
}

article .preface {
    font-weight: bold;
}

article img.intro-image {
    float: right;
    margin: 0 0 20px 20px;
}

#event-list li {
    margin-bottom: 20px;
}

#event-list .date,
#event-list .date span {
    color: #e26a2e;
    font-weight: bold;
}


#event-list .time span,
#event-list .location span {
    font-weight: bold;
}


#weather-forecast ol {
    overflow: hidden;
    margin: 20px 0 40px 0;
}

#weather-forecast li {
    width: 150px;
    float: left;
    margin-bottom: 20px;
}

#weather-forecast .time-from {
    font-style: italic;
}

#weather-forecast .date {
    margin-right: 5px;
}

#weather-forecast .temperature {
    font-size: 30px;
    text-align: center;
}

#weather-forecast .disclaimer {
    clear: both;
}

#sitemap {
    overflow: hidden;
}

#sitemap li {
    margin-bottom: 10px;
}

#sitemap > ul > li {
    font-size: 1em;
}

#sitemap li > ul > li {
    font-size: 0.9em;
    margin-left: 15px;
}

.welcome-to-the-training-kit {
    padding: 20px;
}



/* file archive */

#file-archive {
    overflow: hidden;
}

#file-archive .column {
    float: left;
}
#file-archive ul ul {
    display: none;
}

#file-archive ul {
    float: left;
    width: 100%;
}

#file-archive li {
    cursor: pointer;
    float: left;
    width: 100%;
}

#file-archive .heading {
    font-weight: bold;
}

#file-archive span {
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

#file-archive ul ul .name span {
    padding-left: 26px;
}

#file-archive ul ul ul .name span {
    padding-left: 47px;
}
