@import url('all-devices.css');

.region {
    float: left;
}

#container {
    width: 1002px;
    margin-left: auto;
    margin-right: auto;

}

#main-menu {
    overflow: hidden;
    background: #2773b4;
    padding: 10px;
}

#main-menu a {
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 15px;
    display: block;
    float: left;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    margin-right: 10px;
}


#main-menu a:hover,
#main-menu .path a {
    background: #1f5f94;    
    -moz-box-shadow:inset 0px 1px 1px #124167;
    -webkit-box-shadow:inset 0px 1px 1px #124167;
    box-shadow:inset 0px 1px 1px #124167;
}

#main-content {
    margin-top: 20px;
}


#enonic-header {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #3b3b3a;
}

#enonic-header img {
    position: absolute;
    right: 50px;
    bottom: 5px;
}

footer {
    margin-bottom: 60px;
}


#event-show img {
    float: right;
    margin: 0 0 20px 20px;
}

#file-archive span {
    padding: 1px 5px;
}


#file-archive .kind span {
    border: 0;
}

#file-archive .name {
    width: 58%;
}

#file-archive .date-modified {
    width: 20%;
}

#file-archive .size {
    width: 10%;
    text-align: right;
}

#file-archive .kind {
    width: 12%;
}

